img {
    padding: 3px;
}

.loadingOverlay {
    background: #000;
    position: absolute;
    z-index: 1001;
    display: none;
    opacity: 0;
}
 
.pageOverlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#imageOverlay img {
    
}