<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the visual wiki</p>
    <p>You can:<p>
    <a href="/image/upload">Upload an image</a>
    <a href="/image/view/all">View all images</a>
  </body>
</html>
