extends layout
block content
  div#welcome(data-dojo-type="dojox.mobile.ScrollableView", data-dojo-props="selected: true")
    p 
      | Welcome to the visual wiki, an app designed to let you explore the world much like wikipedia,
      | but through the use of images! You can upload and tag your own images, or view images others
      | have uploaded.
    p Quick Overview:
    ul
      li Use the buttons at the bottom to navigate.
      li Have fun! 
  div#upload(data-dojo-type="dojox.mobile.ScrollableView", data-dojo-props='selected: false')
    include upload
  div#viewimages(data-dojo-type="viki.scrollableImageView", data-dojo-props="selected: false, source: '/image/view/all', topic: 'Outdoors'")
  div#imageOverlay(class='loadingOverlay pageOverlay')
    //input#closeButton(type="button", data-dojo-type="dojox.mobile.Button", value="Close")
    //input#likeButton(type="button", data-dojo-type="dojox.mobile.Button", value="Like")
    //input#tagButton(type="button", data-dojo-type="dojox.mobile.Button", value="Tag")
    //input#cancelTag(type="button", data-dojo-type="dojox.mobile.Button", value="Cancel", style="display:none")
    img#closeButton(src="/images/back.png", data-dojo-type="dojox.mobile.Button")
    img#likeButton(src="/images/like.png", data-dojo-type="dojox.mobile.Button")
    img#tagButton(src="/images/tag.png", data-dojo-type="dojox.mobile.Button")
    img#cancelTag(src="/images/close.png", style="display:none", data-dojo-type="dojox.mobile.Button")
    div#imageContainer(style="position: absolute")
