doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(type="text/javascript", src="/scripts/dojo.js", data-dojo-config="async: true")
  body
    h1 Visual Wiki | #{title}
    block content
    p viki is by ..., copyright 2012.
