if !isIOS
  link(rel="stylesheet", href="/stylesheets/uploadCustom.css")
  script(type="text/javascript", src="/scripts/upload.js")
  script(type="text/javascript", src="/scripts/fileuploader.js")
  div.ucustom
    p Upload A New Image:
    form(id="uploadForm", name="uploadform", action="/image/upload", method="post", enctype="multipart/form-data")
      label(for="imagename") Gist:&nbsp;
      input#gist(type="text", name="imagename", data-dojo-type="dojox.mobile.TextBox")
      p
      label(for="imagetopic") Topic:&nbsp;
      input#topic(type="text", name="imagetopic", value="Outdoors", data-dojo-type="dojox.mobile.TextBox")
      p
      div#fileuploader(data-dojo-type="dojox.mobile.Button", class="customButton") 
      div#filelist(data-dojo-type="dojox.mobile.RoundRectList", class="customList")
        div#placeholder(data-dojo-type="dojox.mobile.ListItem") No Files Selected
      p  
      input#submit(type="button", value="Add Image to Viki", data-dojo-type="dojox.mobile.Button")
else 
  p Sorry, iOS currently does not support browser-based file uploads; please upgrade to iOS 6 when it comes out...
