<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form name="uploadform" action="/image/upload" method="post" enctype="multipart/form-data">
        <label for="imagename">Image Name:</label> 
        <input type="text" name="imagename" />
        <p>
        <label for="filedata">Image File:</label> 
        <input type="file" name="filedata" id="file" />
        <p>
        <input type="Submit" value="Upload File">
    </form>
      
  </body>
</html>
