<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (images.length == 0) { %>
      <p>No images uploaded, would you like to <a href="/image/upload">upload</a> one?
    <% } else { %>
      <% for (image in images) { %>
        <image src="/image/get/<%= image.dataid %>"/>
      <% } %>
    <% } %>
  </body>
</html>
